.containerInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.containerInput label {
margin-bottom: .6em;
border: bold;
}

.containerInput input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

.containerInput input::placeholder {
    color: #7b7b7b;
}