.containerSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.containerSelect label {
margin-bottom: .6em;
border: bold;
}

.containerSelect select {
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

